<!DOCTYPE html>
<html>
  <head>
    <title>BeYourFit | Fitness and Health</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BeYourFit API</h1>
  </body>
</html>
